<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Proxy API calls to local Node.js backend on port 3000:
  RewriteRule ^api/(.*)$ http://127.0.0.1:3000/api/$1 [P,L]

  # Angular Single Page Application (SPA) client routing:
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
